name: Publish to GitHub Packages

on:
  push:
    tags:
      - 'v*'   # Trigger when you push a version tag like v1.0.0

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore ./src/KyleClough.EntityFrameworkExtensions.AuditLogging/KyleClough.EntityFrameworkExtensions.AuditLogging.csproj

      - name: Build
        run: dotnet build ./src/KyleClough.EntityFrameworkExtensions.AuditLogging/KyleClough.EntityFrameworkExtensions.AuditLogging.csproj --configuration Release --no-restore

      - name: Pack
        run: dotnet pack ./src/KyleClough.EntityFrameworkExtensions.AuditLogging/KyleClough.EntityFrameworkExtensions.AuditLogging.csproj --configuration Release --no-build -o ./artifacts

      - name: Publish to GitHub Packages
        run: dotnet nuget push ./artifacts/*.nupkg --source "github" --api-key ${{ secrets.GH_PACKAGES_TOKEN }}
